* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  height: 70px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  position: relative;
}

.dropdown {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  right: 0px;
  top: 70px;
  color: white;
}

.fa-hamburger {
  color: white;
  font-size: 24px;
}
